* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #f1f1f1; }

.header {
  background: #f1f1f1;
  text-align: center;
  margin: auto; }
  .header .header-icon {
    height: 80px;
    margin-top: 1.2em;
    margin-bottom: 2em; }

.header-title {
  text-align: center; }
  .header-title h1 {
    color: #333;
    margin-bottom: 2em; }

.footer {
  margin-top: 5em;
  background: #666;
  height: 7em; }

.btn {
  border-radius: 2px;
  width: 22em;
  line-height: 55px;
  background: white;
  border: solid 1px #666;
  font-size: 29px;
  color: #666;
  transition: all .2s; }
  .btn:hover {
    background: #F1F1F1;
    color: #333;
    transition: all 0s;
    cursor: pointer; }

.next {
  margin-top: 2em;
  text-align: center; }

.box {
  text-align: center;
  margin: auto;
  padding: 30px 0;
  width: 40em;
  border-radius: 2px;
  border: #999 solid 1px;
  background: white;
  margin-bottom: 5px;
  transition: .2s all;
  -webkit-box-shadow: 10px 10px 5px -9px #eeeeee;
  -moz-box-shadow: 10px 10px 5px -9px #eeeeee;
  box-shadow: 10px 10px 5px -9px #eeeeee; }
  .box:hover {
    -webkit-box-shadow: 0px 0px 5px 0px #777777;
    -moz-box-shadow: 0px 0px 5px 0px #777777;
    box-shadow: 0px 0px 5px 0px #777777;
    transition: 0s all; }

/*
 *
 *  Standardization for input fieids
 */
.txt {
  height: 30px;
  width: 330px;
  padding-left: 10px;
  border-radius: 2px;
  border: solid #333 1px; }

.q-box {
  margin: 0 auto;
  text-align: center;
  width: 40em; }
  .q-box .inner-q-box {
    width: 22em;
    margin: auto; }
    .q-box .inner-q-box .form-group {
      margin-bottom: 20px; }
      .q-box .inner-q-box .form-group .txt-field-name {
        text-align: left;
        margin-left: 15px;
        margin-bottom: 5px; }

.login-box {
  text-align: center;
  width: 40em;
  margin: auto;
  padding: 30px 0;
  border-radius: 2px;
  border: #999 solid 1px;
  background: white;
  margin-bottom: 5px;
  transition: .2s all;
  -webkit-box-shadow: 10px 10px 5px -9px #eeeeee;
  -moz-box-shadow: 10px 10px 5px -9px #eeeeee;
  box-shadow: 10px 10px 5px -9px #eeeeee; }
  .login-box:hover {
    -webkit-box-shadow: 0px 0px 5px 0px #777777;
    -moz-box-shadow: 0px 0px 5px 0px #777777;
    box-shadow: 0px 0px 5px 0px #777777;
    transition: 0s all; }
  .login-box p {
    font-size: 20px;
    margin-top: 40px; }
  .login-box div {
    margin-top: 10px;
    font-weight: 600; }
  .login-box #username {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 30px;
    width: 330px;
    padding-left: 10px; }
  .login-box #proceed_login {
    margin-bottom: 50px;
    width: 6em;
    line-height: 31px;
    font-size: 16px; }

.doc-list-container {
  max-width: 30em;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 90px; }
  .doc-list-container .doc-list-wrap .doc-link {
    text-decoration: none;
    color: #666; }
    .doc-list-container .doc-list-wrap .doc-link:hover {
      color: #333; }
    .doc-list-container .doc-list-wrap .doc-link .doc {
      padding: 30px 0;
      border-radius: 2px;
      border: #999 solid 1px;
      background: white;
      margin-bottom: 5px;
      transition: .2s all;
      -webkit-box-shadow: 10px 10px 5px -9px #eeeeee;
      -moz-box-shadow: 10px 10px 5px -9px #eeeeee;
      box-shadow: 10px 10px 5px -9px #eeeeee; }
      .doc-list-container .doc-list-wrap .doc-link .doc:hover {
        -webkit-box-shadow: 0px 0px 5px 0px #777777;
        -moz-box-shadow: 0px 0px 5px 0px #777777;
        box-shadow: 0px 0px 5px 0px #777777;
        transition: 0s all; }
        .doc-list-container .doc-list-wrap .doc-link .doc:hover h3::after {
          display: block; }
      .doc-list-container .doc-list-wrap .doc-link .doc h3::after {
        display: none;
        position: absolute;
        right: 30px;
        font-size: 1.2em;
        bottom: -0.1em; }
      .doc-list-container .doc-list-wrap .doc-link .doc h3 {
        position: relative;
        text-align: center;
        text-decoration: none; }
  .doc-list-container .doc-list-wrap #idk-doc .doc {
    background: yellow; }

.i-box {
  width: 40em;
  margin: auto;
  margin-bottom: 50px; }
  .i-box h2 {
    margin-bottom: 5px;
    margin-left: 10px; }

/*# sourceMappingURL=main.css.map */
