// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$blue: #02919e;
$heading-color: #333;
$body-color: #666;
