// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  margin-top: 5em;
  background: #666;
  height: 7em;
}
