// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


$icon-width: 8em;
$icon-padding-left: 2em;

.header {
  background: $blue;
  .header-container {
    display: inline-flex;
    .header-icon {
      width: $icon-width;
      padding-left: $icon-padding-left;
      filter: invert(90%);
    }
    .header-title {
      width: calc(100vw - #{$icon-width});
      padding-top: 1.5em;
      padding-left: 2em;
      color: darken(white, 10%);
    }
  }
}
