// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


$icon-width: 8em;
$icon-padding-left: 2em;

.header {
  background: #f1f1f1;
  text-align: center;
  margin: auto;
  .header-icon {
    // filter: invert(90%);
    height: 80px;
    margin-top: 1.2em;
    margin-bottom: 2em;
  }
}

.header-title {
  text-align: center;
  h1 {
    color: $heading-color;
    margin-bottom: 2em;
  }
}
