// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  border-radius: 2px;
  width: 135px;
  line-height: $btn-height;
  background: white;
  border: solid 1px #666;
  font-size: 15px;
  color: $body-color;
  transition: all .2s;

  &:hover {
    background: #F1F1F1;
    color: $heading-color;
    transition: all 0s;
    cursor: pointer;
  }
}
