// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.doc-list-container {
  max-width: 30em;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 90px;


  .doc-list-wrap {
    .doc-link {
      text-decoration: none;
      color: $body-color;
      &:hover {color: $heading-color;}

      .doc {
        padding: 30px 0;
        border-radius: 2px;
        border: #999 solid 1px;
        background: white;
        margin-bottom: 5px;
        transition: .2s all;
        -webkit-box-shadow: 10px 10px 5px -9px rgba(238, 238, 238, 1);
        -moz-box-shadow: 10px 10px 5px -9px rgba(238, 238, 238, 1);
        box-shadow: 10px 10px 5px -9px rgba(238, 238, 238, 1);

        &:hover {
          -webkit-box-shadow: 0px 0px 5px 0px rgba(119,119,119,1);
          -moz-box-shadow: 0px 0px 5px 0px rgba(119,119,119,1);
          box-shadow: 0px 0px 5px 0px rgba(119,119,119,1);
          transition: 0s all;
          h3::after {
            display: block;
          }
        }

        h3::after {
          display: none;
          // content: ">";
          position: absolute;
          right: 30px;
          font-size: 1.2em;
          bottom: -0.1em;
        }

        h3 {
          position: relative;
          text-align: center;
          text-decoration: none;
        }
      }
    }
    #idk-doc {
      .doc {
        background: yellow;
      }
    }
  }
}
